.aboutMeContent {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.aboutMeSubContainer {
    background-color: rgb(255, 149, 0);
    margin-top: var(--height-menu);
    margin-left: 28px;
    // margin-right: 28px;
    height: fit-content;
    max-width: 471px;
}

.aboutMeHeader {
    z-index: 1;
    width: 452px;
    height: 108px;
    margin-bottom: 35px;
    font-family: "Poppins Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 90px; // 90px at window.innerWidth of 1440px or  6.25vw
    line-height: 120%;
    color: #ffffff;
  }
  
  .aboutMeText {
    margin-bottom: 35px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .justifiedText {
    text-align: justify;
  }
  
  .personalThings {
    margin-left: 0px;
  }
  
  .personalThing {
    height: fit-content;
    display: flex;
    align-items: flex-start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 35px;
    span {
      margin-left: 34px;
    }
  }
  
  .descText {
    margin-left: 42.76px;
    text-align: justify;
  }

  .aboutMeImageAndLine {
    margin-top: var(--height-menu);
    margin-left: 5vw;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .aboutMeImage {
    z-index: 1;
    width: 453px; // before: 31.46vw
    height: 453px; // before: 31.46vw
    object-fit: cover;
    border-radius: 100%;
    border: 4px solid #00bee8;
    background-position-y: 45%;
  }
  
  .line7 {
    // position: absolute;
    // top: 50vh;
    // right: 0px;
    // justify-self: center;
    z-index: 1;
    // right: 0px;
    // top: 450px;
    // width: 263px;
    width: 18.264vw;
    height: 0px;
    border: 2px solid #00bee8;
  }
  
  .blurImageRight {
    position: absolute;
    // right: 0px;
    // top: -6.944vw;
    // height: 48vw;
    z-index: 1;
    //
    height: 608px;
    // right: -45.71%;
    right: 0px;
    top: -115px;
  }

  @media (max-width: 1280px) {
    .aboutMeHeader {
      font-size: 72px !important;
    }

    .aboutMeImage {
      width: 380px !important;
      height: 380px !important;
    }

    // .line7 {
    //   width: 12vw !important;
    // }
  }

  @media (max-width: 1180px) {
    .aboutMeHeader {
      font-size: 72px !important;
    }

    .aboutMeImage {
      width: 380px !important;
      height: 380px !important;
    }
  }

  @media (max-width: 1080px) {
    .aboutMeHeader {
      font-size: 72px !important;
    }

    .aboutMeImage {
      width: 300px !important;
      height: 300px !important;
    }
  }

  @media (max-width: 993px) {
    // .line7 {
    //   width: 8vw !important;
    // }
  }

  @media (max-width: 946px) {
    .aboutMeText {
      margin-bottom: 20px !important;
    }

    .personalThing {
      margin-bottom: 0px !important;
    }

    .descText {
      margin-top: 0px !important;
    }
  }

  @media (max-width: 933px) {
    .aboutMeHeader {
      font-size: 60px !important;
    }
  }

  @media (max-width: 880px) {
    .aboutMeContent {
      height: fit-content;
    }
  }

  @media (max-width: 855px) {
    .aboutMeHeader {
      font-size: 54px !important;
    }
  }

  @media (max-width: 824px) {
    .aboutMeImageAndLine {
      display: none !important;
    }

    .blurImageRight {
      display: none !important;
    }

    .aboutMeSubContainer {
      max-width: unset !important;
      margin-right: 28px;
    }
  }

  @media (max-width: 818px) {
    .aboutMeHeader {
      font-size: 60px !important;
    }
  }

  @media (max-width: 740px) {
    .aboutMeHeader {
      font-size: 50px !important;
    }
  }

  @media (max-width: 710px) {
    .aboutMeImageAndLine {
      display: none !important;
    }

    .aboutMeText {
      margin-bottom: 35px !important;
    }

    .personalThing {
      margin-bottom: 35px !important;
    }

    .descText {
      margin-top: unset !important;
    }

    .aboutMeContent {
      justify-content: center;
      height: fit-content !important;
    }

    // .aboutMeSubContainer {
    //   margin-right: 0px !important;
    //   margin-left: 0px !important;
    // }
  }

  @media (max-width: 620px) {
    .aboutMeContent {
      height:fit-content !important;
    }

    .aboutMeSubContainer {
      margin-right: 28px !important;
      margin-left: 28px !important;
    }
  }