<div id="contact" class="contactContent">
    <div class="contactSubcontainer">
        <div class="contactHeader">
            <span class="contactHeaderLine"></span>
            <span class="contactHeaderText" data-aos="fade-left" data-aos-duration="250">Contact</span>
        </div>
        <div class="contactMainSection">
            <!-- <img class="dBlue3Image d-none" src="./../../assets/img/D. blue 3 footer.png"> -->
            <div class="contactDescriptions">
              <span class="contactSubHeaderText" data-aos="fade-left" data-aos-duration="250">Got a problem to solve?</span>
              <p class="contactDescParagraph" data-aos="fade-left" data-aos-duration="250">
                Contact me through this form, I am interested in hearing you, knowing
                your ideas and contributing to your projects with my work.
              </p>
              <div class="invitationContainer">
                <span class="contactInvitationText" data-aos="fade-left" data-aos-duration="250">Need a Frontend developer? <b>Contact me!</b></span>
              </div>
              
            </div>
            <div class="contactInputs">
                <form action="./../assets/send_mail.php" method="POST" class="contactInputsForm">
                    <input data-aos="fade-right" data-aos-duration="250" class="singleLineInput" type="text" name="name" placeholder="Your name" required/>
                    <input data-aos="fade-right" data-aos-duration="250" class="singleLineInput" type="text" name="mail" placeholder="Your email" required/>
                    <textarea data-aos="fade-right" data-aos-duration="250" class="multiLineInput" rows="2" cols="20" name="message" placeholder="Your message" required></textarea>
                    <input data-aos="fade-right" data-aos-duration="250" type="submit" class="sendMessageButton" value="Send message :)"/>
                </form>
                <a href="#" class="goUpButton"><img src="./../../assets/img/Go up button.png"/></a>
            </div>
        </div>
    </div>
</div>