.contentMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: var(--height-menu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

.menuLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.fixedMenu {
  position: relative;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  height: var(--height-menu);
  width: 100vw;
  background-color: #141D2F;
}

.fixedMenuMobile {
  position: relative;
  top:0;
  display: none;
  z-index: 3;
  height: var(--height-menu);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #141D2F;
}

.logoLink {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.logoImage {
  width: 300px;
  height: 50px;
  object-fit: cover;
  margin-left: 25px;

  &:hover {
    transform: scale(1.2);
  }
}

.burgerMenuImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 50px;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.dropDownMenu {
  position: absolute;
  display: flex;
  z-index: 4;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - var(--height-menu));
  top: 0px;
  right: 0px;
  padding-top: 205px;
  padding-bottom: 205px;
  background: #424856;
  opacity: 0.8;
}

.dropDownCloseButton {
  position: absolute;
  top: 40px;
  right: 48px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.dropdownLink {
  text-decoration: none;
  color: #ffff;
  margin-bottom: 33px;
  &:hover {
    cursor: pointer;
    color:#00bee8
  }
}

.menuContainer {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 23px;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color:#00bee8
  }
}

.d-none {
  display: none !important;
}

@media (max-width: 1059px) {
  .menuLinks {
    margin-left: 0px !important;
  }
}

@media (max-width: 959px) {
  .fixedMenu {
    justify-content: unset !important;
  }

  .about-me-link {
    margin-left: 0px !important;
  }

  .menuLinks {
    margin-right: 0px !important;
  }
}

@media (max-width: 864px) {
  .logoLinkClass {
    margin-right: 0px !important;
  }
}

@media (max-width: 838px) {
  .logoLinkClass {
    margin-left: 0px !important;
  }

  .logoImage {
    margin-left: 0px !important;
  }
}

@media (max-width: 790px) {
  .logoImage {
    width: 265px !important;
  }
}

@media (max-width: 760px) {
  .logoImage {
    width: 230px !important;
  }
}

@media (max-width:720px) {
  .menuLinks a {
    font-size: 20px !important;
  }
}

@media (max-width: 680px) {
  .logoImage {
    width: 200px !important;
  }
}

@media (max-width: 650px) {
  .menuLinks a {
    font-size: 18px !important;
  }
}

@media (max-width: 620px) {
  .fixedMenu {
    display: none !important;
  }

  .fixedMenuMobile {
    display: flex !important;
  }

  .logoImage {
    width: 300px !important;
  }
}

@media (max-width: 360px) {
  .logoImage {
    width: 250px !important;
  }
}
