.mySkillsContent {
    height: 100vh;
    display: flex;
    flex-direction: column;   
}

.mySkillsSubcontainer {
    margin-top: var(--height-menu);
    margin-left: 28px;
    margin-right: 28px;
    height: -webkit-fill-available;
    display: flex;
}

.skillsLeft {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 32px;
  }

  .skillsLeftBackgroundImage {
    position: absolute;
    z-index: 1;
    width: 428.59px;
    height: 951.44px;
    left: -27px;
    // top: 1860px;
    top: 0px !important;
  }
  
  .skillsImages {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 170px;
    margin-left: 16px;
    margin-right: 16px;
    z-index: 2;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .skillImage {
    height: 4.17vw;
    width: 4.17vw;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
      filter: drop-shadow(0 0 1.5rem #4b47ff);
    }
  }
  
  .iconName {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 60px;
  }
  
  .skillsDescription {
    position: absolute;
    right: 0px;
    top: calc((2000 / 1440) * 100)vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 43.06vw;
  }
  
  .mySkillsHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 34px;
    font-family: "Poppins Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 6.25vw;
    line-height: 120%;
    text-align: end;
    color: #ffffff;
    z-index: 2;
    span {
      margin-right: 42px;
    }
  }
  
  .mySkillsLine {
    position: relative;
    right: 0px;
    width: 52px;
    border: 3px solid #4b47ff;
    border-radius: 4px 0px 0px 4px;
  }
  
  .secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mySkillsSubText {
    margin-right: 70px;
    margin-bottom: 57px;
    height: 38px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: end;
    color: #ffffff;
    z-index: 2;
  }
  
  .getInTouchButton {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 200px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  
    &:hover {
      background: #4b47ff;
      transition: 0.3s ease-in-out;
      transform: scale(1.2);
    }
  }
  
  .getInTouchButtonMobile {
    z-index: 2;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 67px;
    margin-bottom: 80px;
    padding: 15px 30px;
    gap: 10px;
    width: 200px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  
    &:hover {
      background: #4b47ff;
      transition: 0.3s ease-in-out;
      transform: scale(1.2);
    }

    &:active {
      background: #4b47ff;
      transition: 0.3s ease-in-out;
      transform: scale(1.2);
    }
  }
  
  @media (max-width: 1050px) {
    .skillsImages {
      width: 120px !important;
    }
  }
  
  @media (max-width: 911px) {
    .skillsLeft {
      width: 54vw !important;
    }
  }
  
  @media (max-width: 836px) {
    .skillsImages {
      width: 100px !important;
    }
  }

  // @media (max-width: 880px) {
  //   .skillsLeftBackgroundImage {
  //     top: 1770px !important;
  //   }
  // }

  @media (max-width: 824px) {
    .skillsLeftBackgroundImage {
      height: 800px !important;
      // top: 1590px !important;
    }
  }

  @media (max-width: 816px) {
    .headerContainer {
      margin-top: 48px !important;
    }
  }

  @media (max-width: 733px) {
    .skillsLeft {
      width: 55vw !important;
    }
  }

  @media (max-width: 719px) {
    .mySkillsHeader {
      justify-content: space-between !important;
    }

    .mySkillsSubText {
      text-align: justify !important;
    }

    .getInTouchButton {
      align-self: unset !important;
    }

    .skillsLeftBackgroundImage {
      height: 700px !important;
      // top: 1660px !important;
    }
  }

  // @media (max-width: 710px) {
  //   .skillsLeftBackgroundImage {
  //     top: 1740px !important;
  //   }
  // }
  
  @media (max-width: 696px) {
    .skillsImages {
      width: 98px !important;
    }
  }
  
  @media (max-width: 682px) {
    .skillsImages {
      width: 90px !important;
    }

    .skillsLeft {
      width: 50vw !important;
    }
  }

  @media (max-width: 660px) {
    .getInTouchButton {
      margin-top: 57px !important;
    }
  }
  
  @media (max-width: 638px) {
    .skillsDescription {
      width: 45vw;
    }
  }
  
  @media (max-width: 620px) {
    .mySkillsContent {
      height: fit-content !important;
      margin-top: 0px !important;
    }

    .mySkillsSubcontainer {
      flex-direction: column-reverse !important;
    }
  
    .mainContainer {
      flex-direction: column-reverse;
      margin-top: 0px !important;
    }
  
    .skillsLeft {
      width: unset !important;
      justify-content: space-between;
      margin-left: 10px !important;
      margin-right: 10px !important;
      margin-top: 63px !important;
    }

    .skillsLeftBackgroundImage {
      width: 273.59px !important;
      left: -36px !important;
      // top: 1650px !important;
    }
  
    .skillsImages {
      width: 90px !important;
    }
  
    .skillImage {
      margin-right: 30px;
      margin-left: 30px;
      height: 30px !important;
      width: 30px !important;
    }
  
    .skillsDescription {
      position:  relative !important;
      top: 0px !important;
      right: -28px;
      width: unset !important;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      align-items: flex-end;
    }
  
    .mySkillsHeader {
      width: unset !important;
      font-size: 45px !important;
      justify-content: flex-end !important;

      span {
        margin-right: 0px !important;
      }
    }
  
    .mySkillsSubText {
      width: unset !important;
      margin-right: 68px !important;
      font-size: 16px !important;
      margin-bottom: 0px !important;
    }
  
    .getInTouchButton {
      width: unset !important;
      display: none !important;
    }
  
    .getInTouchButtonMobile {
      display: flex !important;
      margin-top: -42px !important;
      margin-bottom: 0px !important;
    }

    .iconName {
      margin-bottom: 45px !important;
    }
  }

  @media (max-width: 578px) {
    .skillsLeftBackgroundImage {
      width: 245px !important;
      height: 605px !important;
      // top: 1840px !important;
    }
  }

  // @media (max-width: 527px) {
  //   .skillsLeftBackgroundImage {
  //     top: 1925px !important;
  //   }
  // }
  
  @media (max-width: 460px) {
    .mySkillsContent {
      height: 100vh !important;
    }
    .mySkillsSubcontainer {
      position: relative !important;
    }

    .skillsDescription {
      position: absolute !important;
      top: 0px !important;
      right: 0px !important;
    }

    .skillsLeft {
      position: absolute !important;
      top: 180px;
      width: 90% !important;
      margin-top: 0px !important;
      margin-right: 0px !important;
      margin-left: 0px !important;
    }

    .skillsLeftBackgroundImage {
      left: -28px !important;
      top: 98px !important;
    }

    .skillsImages {
      margin-left: -9px !important;
      margin-right: -9px !important;
    }
  
    .mySkillsHeader {
      position: relative;
      right: -28px !important;
    }

    .getInTouchButtonMobile {
      position: absolute;
      bottom: -75px;
    }
  }

  @media (max-width: 440px) {
    .skillsLeft {
      width: 75% !important;
      top: 200px !important;
    }

    .skillsLeftBackgroundImage {
      display: none !important;
    }
  }

  @media (max-width: 420px) {
    .skillsLeft {
      width: 100% !important;
    }
  }
  
  @media (max-width: 414px) {
    .skillsLeft {
      margin-left: 0px !important;
      margin-right: 0px !important;
      top: 175px !important;
    }
  
    .mySkillsSubText {
      margin-right: 0px !important;
    }
  
    .skillsImages {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
  
  @media (max-width: 388px) {
    .mySkillsHeader {
      font-size: 10vw !important;
    }
  }
  
  @media (max-width: 360px) {
    .mySkillsHeader {
      font-size: 9.5vw !important;
    }
  }

  @media (max-width: 360px) {
    .mySkillsHeader {
      right: -28px !important;
    }
  }

  @media (max-width: 340px) {
    .getInTouchButtonMobile {
      margin-bottom: -80px !important;
    }
  }
  