.headerContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainImageAndText {
    display: flex;
    justify-content: space-between;
    margin-top: var(--height-menu);
    margin-left: 100px;
    margin-right: 28px;
    height: fit-content;
}

.mainPortrait {
    position: relative;
    height: 530px;
    width: fit-content;
}

.mainImage {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 530px; // edit on 2023-03-15 17:00
    width: 480px;
    object-fit: contain;
    z-index: 0;
}

.personBackgroundImage {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: -68px;
    right: 0px;
    bottom: 0px;
    height: calc(var(--height-content) - var(--height-menu));
}

.gradientImage {
    position: absolute;
    width: 100%;
    height: 971.56px;
    left: 0px;
    right: 0px;
    top: 250px;
    z-index: 1;
}

.aTest {
    position: absolute;
    height: 467.43px;
    left: 19.93%;
    right: -80.64%;
    top: 345.09px;
    background: linear-gradient(165.69deg, #1A2743 37.75%, #27334B 43.25%, #141D2F 70.18%);     
}

.mainTextAndButton {
    z-index: 2;
    position: relative;
    left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.mainText {
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.nameAndJobtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.iam {
    margin-top: 16px;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 2px;
    writing-mode: vertical-lr;
    text-align: end;
    text-indent: 0px;
    transform: rotate(-180deg);
}

.name {
    font-family: "Poppins Bold";
    font-weight: 700;
    font-size: 90px; // before 6.25vw
    line-height: 120%;
    color: #ffffff;
}

.jobTitle {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 58px; // before 4.0278vw
    line-height: 120%;
    color: #4b47ff;
}

.letsTalkButton {
    display: flex;
    z-index: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 15px 30px;
    margin-top: 20px;
    width: 165px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

    a {
        width: 105px;
        height: 28px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #ffffff;
        text-decoration: none;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &:hover {
        background: #4b47ff;
        transition: 0.3s ease-in-out;
        transform: scale(1.2);
    }
}

.letsTalkButtonMobile {
    display: none;
    z-index: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 26px;
    margin-bottom: 40px;
    padding: 15px 30px;
    width: 165px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

    a {
        width: 105px;
        height: 28px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #ffffff;
        text-decoration: none;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &:hover {
        background: #4b47ff;
        transition: 0.3s ease-in-out;
        transform: scale(1.2);
    }
}

.socialMedia {
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.vector1 {
    z-index: 1;
    width: 94px;
    height: 0px;
    border: 3px solid #4b47ff;
    border-radius: 0px 4px 4px 0px;
}

.socialMediaImages {
    align-self: center;
    margin-left: 42px;
    z-index: 1;
    cursor: pointer;
}

.socialMediaEmail {
    margin-left: 42px;
}

.scrollContainer {
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 106px;
    right: 0px;
    margin-right: 72px;
    width: fit-content;
    a {
        text-decoration: none !important;
        &:hover {
        cursor: pointer;
        }
    }

    transform: rotate(90deg) !important;
}

.scrollDown {
    cursor: pointer;
    z-index: 2;
    margin-right: 8px;
    width: 133px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
}

.scrollDownImage {
    z-index: 2;
    transform: rotate(-90deg);
    width: 16px;
    height: 16px;
    object-fit: cover;
    align-self: center;
}

@media (max-width: 1350px) {
    .mainText {
        margin-right: 0px !important;
    }

    .headerContent {
        position: relative;
    }

    .scrollContainer {
        right: -98px !important;
    }
}

@media (max-width: 1210px) {
    .iam {
        font-size: 58px;
    }

    .name {
        font-size: 80px;
    }

    .jobTitle {
        font-size: 52px;
    }

    .mainTextAndButton {
        margin-bottom: 100px !important;
    }
}

@media (max-width: 1130px) {
    .iam {
        font-size: 50px;
    }

    .name {
        font-size: 72px;
    }

    .jobTitle {
        font-size: 48px;
    }

    .mainTextAndButton {
        margin-bottom: 120px !important;
    }
}

@media (max-width: 1070px) {
    .mainTextAndButton {
        margin-bottom: 140px !important;
    }

    .iam {
        margin-top: 10px !important;
        font-size: 42px;
    }

    .name {
        font-size: 60px;
    }

    .jobTitle {
        font-size: 40px;
    }

    .gradientImage {
        top: 250px !important;
    }
}

@media (max-width: 980px) {
    .mainTextAndButton {
        margin-bottom: 160px !important;
    }

    .iam {
        margin-top: 8px !important;
        font-size: 38px;
    }

    .name {
        font-size: 52px;
    }

    .jobTitle {
        font-size: 36px;
    }
}

@media (max-width: 930px) {
    .mainTextAndButton {
        margin-bottom: 180px !important;
    }

    .iam {
        margin-top: 6px !important;
        font-size: 28px;
    }

    .name {
        font-size: 40px;
    }

    .jobTitle {
        font-size: 26px;
    }
}

@media (max-width: 816px) {
    .headerContent {
        align-items: center;
    }

    .mainImageAndText {
        margin-left: 28px !important;
        flex-direction: column;
        align-items: center;
    }

    .mainPortrait {
        height: 425px !important;
    }

    .mainImage {
        position: relative !important;
        height: 425px !important;
    }

    .personBackgroundImage {
        width: -webkit-fill-available;
    }

    .gradientImage {
        height: 476.43px !important;
        top: 345.09px !important; 
    }

    .mainTextAndButton {
        left: 0px !important;
        margin-top: 30px;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }

    .mainText {
        margin-right: 0px !important;
    }

    .iam {
        margin-top: 5px !important;
        font-size: 32px !important;
    }

    .name {
        font-size: 45px !important;
    }

    .jobTitle {
        font-size: 29px !important;
    }

    .letsTalkButtonMobile {
        display: flex !important;
    }

    .letsTalkButton {
        display: none !important;
    }

    .socialMedia {
        margin-top: 0px !important;
    }

    .socialMediaEmail {
        display: none !important;
    }

    .scrollContainer {
        display: none !important;
    }
}

@media (max-width: 424px) {
    .iam {
        font-size: 30px !important;
      }
    
      .name {
        font-size: 42px !important;
      }
    
      .jobTitle {
        font-size: 28px !important;
      }

      .socialMedia {
        margin-top: 0px !important;
      }

      .personBackgroundImage {
        width: -webkit-fill-available;
      }

      .mainPortrait {
        height: 50vh !important;
        width: 90vw !important;
      }

      .mainImage {
        width: 90vw !important;
        height: 50vh !important;
      }

      .gradientImage {
        height: 200px !important;
        top: 408px !important;
      }

}

@media (max-width: 405px) {
    .iam {
        font-size: 30px !important;
      }
    
      .name {
        font-size: 38px !important;
      }
    
      .jobTitle {
        font-size: 24px !important;
      }
}

@media (max-width: 372px) {
    .iam {
        margin-top: 5px !important;
        font-size: 22px !important;
      }
    
      .name {
        font-size: 34px !important;
      }
    
      .jobTitle {
        font-size: 22px !important;
      }
}
