<div class="headerContent">
  <div class="mainImageAndText">
    <div class="mainPortrait">
      <img class="mainImage" src="./../../assets/img/joachim_v2.png"/>
      <img class="personBackgroundImage" src="j./../../assets/img/pbid.png">
    </div>
    <img class="gradientImage" src="./../../assets/img/Vector.png">
    <!-- <div class="aTest"></div> -->
    <div class="mainTextAndButton">
      <div class="mainText">
        <span class="iam">I am</span>
        <div class="nameAndJobtitle">
            <span class="name">Joachim Dürr</span>
            <span class="jobTitle">FRONTEND DEVELOPER</span>
        </div>
      </div>
      <button class="letsTalkButton">
        <a href="#contact" class="letsTalkText">Let's talk</a>
      </button>
      <button class="letsTalkButtonMobile">
        <a href="#contact" class="letsTalkText">Let's talk</a>
      </button>
    </div>
    
  </div>
  <div class="socialMedia">
    <div class="vector1"></div>
  <a href="https://github.com/Yehoyakim88/" target="”_blank”">
    <img
      class="socialMediaImages socialMediaImageMobile"
      src="./../../assets/img/GitHub Link.png"
    />
  </a>
  <a href="mailto:jk.duerr@t-online.de">
    <img class="socialMediaImages" src="./../../assets/img/Mail Icon.png" />
  </a>
  <a href="http://www.joachim-k-duerr.de" target="”_blank”">
    <img class="socialMediaImages" src="./../../assets/img/LinkedIn Link.png" />
  </a>
  <span class="socialMediaEmail">jk.duerr@t-online.de</span>
  </div>
  <div class="scrollContainer">
    <a href="#about-me">
      <span class="scrollDown">Scroll Down</span>
      <img class="scrollDownImage" src="./../../assets/img/scrollDown.png" />
    </a>
  </div>
  <!-- <a class="linkContainer" href="#about-me"></a> -->
</div>
<!-- <img class="gradientImage" src="./../../assets/img/line.png"> -->

<app-about-me></app-about-me>
<app-myskills></app-myskills>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
