.portfolioContent {
    // height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: var(--height-menu);
    // top: 0px;
    // left: 0px;
}

.portfolioSubcontainer {
    background-color: rgb(255, 149, 0);
    // margin-top: var(--height-menu);
    margin-left: 28px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    position: absolute;
    right: 0px;
    top: calc((2000 / 1440) * 100)vw;
    top: calc(var(--height-menu)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
  }

  .headerSubHeader {
    display: flex;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
  }

  .portfolioHeader {
    margin-left: 36px;
    margin-right: 42px;
    display: flex;
    align-items: center;
    font-family: "Poppins Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 9vw;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
  }

  .testClass {
    display:flex; 
    flex-direction: column; 
    align-items: flex-end;
  }

  .subHeaderMobile {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    display: flex;
    color: #ffffff;
    margin-top: 35px;
  }
  
  .line4 {
    position: relative;
    top: 5.5vw;
    right: 0px;
    width: 33.61vw;
    height: 0px;
    border: 3px solid #4b47ff;
    // border-radius: 4px 0px 0px 4px;
  }
  
  .line6 {
    position: relative;
    top: 5vw;
    right: 0px;
    width: 7.56944vw;
    height: 0px;
    
    border: 3px solid #4b47ff;
    border-radius: 4px 0px 0px 4px;
  }

  .aProject {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 235px;
  }
  
  .aProjectReverse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 235px;
  }
  
  .projectPreviewImage {
    height: 250px;
    z-index: 1;
    object-fit: cover;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    height: fit-content;
    background-color: goldenrod;
  }
  
  .descriptionContainerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    background-color: purple;
    // margin-left: 10.4167vw; // equals 150px
  }
  
  .descriptionContainerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: purple;
    // margin-left: 10.4167vw; // equals 150px
  }
  
  .descriptionContainerReverse {
    display: flex;
    flex-direction: column;
  }
  
  .projectTitle {
    // width: 26.042vw;
    height: 42.82px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 15px;
    color: #4b47ff;
  }
  
  .projectTechnologies {
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-bottom: 15px;
    color: #00bee8;
  }
  
  .projectDescription {
    width: 75%;
    margin-bottom: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    text-align: justify;
  }
  
  .projectButtons {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    height: fit-content;
    width: 75%;
  }
  
  .liveTestButton {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    margin-right: 6.945vw;
    background: #4b47ff;
    border-radius: 10px;
    border: 0;
  
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  
  .liveTestText {
    width: 92px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .gitHubButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #00bee8;
    border-radius: 10px;
    background: none;
  
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  
  .gitHubText {
    width: 77px !important;
    font-size: 23px;
  }

  @media (max-width: 600px) {
    .aProject {
      flex-direction: column !important;
      margin-bottom: 127px !important;
    }

    .aProjectReverse {
      flex-direction: column-reverse !important;
      margin-bottom: 127px !important;
    }
    .projectPreviewImage {
      height: 175px !important;
      margin-bottom: 50px !important;
    }

    .imageContainer {
      width: 100% !important;
    }

    .descriptionContainerLeft {
      width: fit-content !important;
      align-items: center;
    }

    .descriptionContainerRight {
      width: fit-content !important;
      align-items: center;
    }
  }