<div id="portfolio" class="portfolioContent" style="background-color: red;">
  <div class="portfolioSubcontainer">
    <!-- <p style="margin-top: var(--height-menu);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum quibusdam quam, suscipit saepe provident ullam harum delectus neque obcaecati placeat ex beatae, maiores, exercitationem nostrum quia labore repudiandae? Optio!</p> -->
    <div class="headerContainer">
      <div class="headerSubHeader">
        <div class="line6"></div>
        <div class="testClass">
          <span class="portfolioHeader">Portfolio</span>
          <span class="subHeaderMobile"
            >Feel free to try out all my projects presented below.</span
          >
        </div>
        <div class="line4"></div>
      </div>
    </div>
    <div class="projectContainer">
      <div class="aProject">
        <div class="imageContainer">
          <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        </div>
        <div class="descriptionContainerRight">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
        </div>
      </div>
    
      <div class="aProjectReverse">
        <div class="descriptionContainerLeft">
          <span class="projectTitle">El Pollo Loco</span>
          <span class="projectTechnologies">JavaScript | HTML | CSS</span>
          <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
          <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
          </div>
        </div>
        <div class="imageContainer">
          <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        </div>
      </div>
    
      <div class="aProject">
        <div class="imageContainer">
          <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        </div>
        <div class="descriptionContainerRight">
          <span class="projectTitle">El Pollo Loco</span>
          <span class="projectTechnologies">JavaScript | HTML | CSS</span>
          <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
          <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
          </div>
        </div>
      </div>
    
      <div class="aProjectReverse margin-bottom100 margin-bottom0" style="margin-bottom: 250px;">
          <div class="descriptionContainerLeft">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
          </div>
          <div class="imageContainer">
            <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
          </div>
        </div>
  </div>
  <img class="projectsBackgroundImageLeft" src="./../../assets/img/D. blue 2 P.png">
</div>

