.portfolioContent {
    height: 100vh;
    display: flex;    
    position: relative;
}

.portfolioSubcontainer {
    background-color: rgb(21, 255, 0) !important;
    margin-top: var(--height-menu);
    margin-left: 28px;
    margin-right: 28px;
}

.headerContainer {
    position: absolute;
    right: 0px;
    // top: calc((2000 / 1440) * 100)vw;
    top: calc(var(--height-menu)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }

  .headerSubHeader {
    display: flex;
  }

  .portfolioHeader {
    margin-left: 36px;
    margin-right: 42px;
    display: flex;
    align-items: center;
    font-family: "Poppins Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 9vw;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
  }

  .testClass {
    display:flex; 
    flex-direction: column; 
    align-items: flex-end;
  }

  .subHeaderMobile {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    display: flex;
    color: #ffffff;
    margin-top: 35px;
  }
  
  .linesRight {
    position: relative;
    top: 5.5vw;
    right: 0px;
    width: 33.61vw;
    height: 0px;
    border: 3px solid #4b47ff;
    // border-radius: 4px 0px 0px 4px;
  }
  
  .linesLeft {
    position: relative;
    top: 5vw;
    right: 0px;
    width: 7.56944vw;
    height: 0px;
    
    border: 3px solid #4b47ff;
    border-radius: 4px 0px 0px 4px;
  }