<div id="portfolio" class="portfolioContent">
  <div class="portfolioSubcontainer">
    <div class="headerContainer">
      <div class="headerSubHeader">
        <div class="line6"></div>
        <div class="testClass">
          <span class="portfolioHeader">Portfolio</span>
          <span class="subHeaderMobile">Feel free to try out all my projects presented below.</span>
        </div>
        <div class="line4"></div>
      </div>
    </div>
    <div class="projectContainer">
      <div class="aProject">
        <div class="imageContainer" data-aos="flip-left" data-aos-duration="500">
          <img class="projectPreviewImage" src="./../../assets/img/join-preview.png">
        </div>
        <div class="descriptionContainerRight" data-aos="flip-right" data-aos-duration="750">
            <span class="projectTitle">Join</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">This is the amazing result of my first team project creating a CRM system.</p>
            <div class="projectButtons">
              <a class="text-decoration-none" target="_blank" href="./../../assets/projects/join/index.html"><button class="liveTestButton"><span class="liveTestText">LiveTest</span></button></a>
              <a class="text-decoration-none" target="_blank" href="https://github.com/Yehoyakim88/join2.git"><button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button></a>  
            </div>
        </div>
      </div>
    
      <div class="aProjectReverse">
        <div class="descriptionContainerLeft" data-aos="flip-left" data-aos-duration="750">
          <span class="projectTitle">Pokedex</span>
          <span class="projectTechnologies">JavaScript | HTML | CSS</span>
          <p class="projectDescription">This neat app demonstrates how to fetch data by using the Pokemon API.</p>
          <div class="projectButtons">
            <a class="text-decoration-none" target="_blank" href="./../../assets/projects/pokedex/index.html"><button class="liveTestButton"><span class="liveTestText">LiveTest</span></button></a>
            <a class="text-decoration-none" target="_blank" href="https://github.com/Yehoyakim88/pokedex-jd-v2.git"><button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button></a>
          </div>
        </div>
        <div class="imageContainer" data-aos="flip-right" data-aos-duration="500">
          <img class="projectPreviewImage" src="./../../assets/img/pokedex-preview.png">
        </div>
      </div>
    
      <div class="aProject">
        <div class="imageContainer" data-aos="flip-right" data-aos-duration="500">
          <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        </div>
        <div class="descriptionContainerRight" data-aos="flip-left" data-aos-duration="750">
          <span class="projectTitle color-at-718px-width">El Pollo Loco</span>
          <span class="projectTechnologies">JavaScript | HTML | CSS</span>
          <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
          <div class="projectButtons">
            <a class="text-decoration-none" target="_blank" href="./../../assets/projects/el_pollo_loco/index.html"><button class="liveTestButton"><span class="liveTestText">LiveTest</span></button></a>
            <a class="text-decoration-none" target="_blank" href="https://github.com/Yehoyakim88/el_pollo_loco.git"><button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button></a>
          </div>
        </div>
      </div>
    
      <div class="aProjectReverse margin-bottom100 margin-bottom0" style="margin-bottom: 250px;">
          <div class="descriptionContainerLeft" data-aos="flip-right" data-aos-duration="750">
            <span class="projectTitle">Business App</span>
            <span class="projectTechnologies">Angular | Material Design | Firebase</span>
            <p class="projectDescription">An easy to use example CRM App to explore some features of a CRM sstem.</p>
            <div class="projectButtons">
                <a class="text-decoration-none" target="_blank" href="https://www.simplecrm.joachim-k-duerr.de/"><button class="liveTestButton"><span class="liveTestText">LiveTest</span></button></a>
                <a class="text-decoration-none" target="_blank" href="https://github.com/Yehoyakim88/BusinessAppv2.git"><button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button></a>
            </div>
          </div>
          <div class="imageContainer" data-aos="flip-left" data-aos-duration="500">
            <img class="projectPreviewImage" src="./../../assets/img/business_v1.png">
          </div>
        </div>
  </div>
  <img class="projectsBackgroundImageLeft" src="./../../assets/img/D. blue 2 P.png">
  <img class="projectsBackgroundImageRight" src="./../../assets/img/L. blue 2.png">
</div>

