<div id="portfolio" class="portfolioContent" style="background: red;">
  <div class="portfolioSubcontainer">
    <p style="margin-top: var(--height-menu);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum quibusdam quam, suscipit saepe provident ullam harum delectus neque obcaecati placeat ex beatae, maiores, exercitationem nostrum quia labore repudiandae? Optio!</p>
    <div class="headerContainer">
        <div class="headerSubHeader">
          <div class="linesLeft"></div>
          <div class="testClass">
            <span class="portfolioHeader">Portfolio</span>
            <span class="subHeaderMobile"
          >Feel free to try out all my projects presented below.</span>
          </div>
          <div class="linesRight"></div>
        </div>
      </div>
  </div>
    
</div>
